In [56]:
import re
import pandas as pd
import numpy as np

In [11]:
text_file = open("input_day3.txt", "r")
lines = text_file.read().split('\n')
ids = []
left_edge = []
top_edge = []
width = []
height = []

In [12]:
for i in lines:
    a = re.split(' ', i)
    ids.append(a[0][1:])
    left_edge.append(a[2][0:].split(':')[0].split(',')[0])
    top_edge.append(a[2][0:].split(':')[0].split(',')[1])
    width.append(a[3][0:].split('x')[0])
    height.append(a[3][0:].split('x')[1])

In [13]:
data = {'id':ids, 'leftedge':left_edge, 'topedge': top_edge, 'width': width, 'height': height}
   
df = pd.DataFrame(data)

In [14]:
count = 0
for i in range(1246):
    if df['leftedge'][i] == df['topedge'][i+1]:
        count+=1
        print(df['leftedge'][i])
        
print(count)

374
1

In [15]:
df['id'] = df['id'].astype(int)
df['leftedge'] = df['leftedge'].astype(int)
df['topedge'] = df['topedge'].astype(int)
df['width'] = df['width'].astype(int)
df['height'] = df['height'].astype(int)

In [31]:
df[(df.topedge == 988)]

      id  leftedge  topedge  width  height
923  924       348      988     20      11

In [27]:
df['topedge'].max()

988

In [51]:
df['sumwidth'] = df['leftedge'] + df['width']
df['sumheight'] = df['topedge'] + df['height']

In [54]:
test = df[:10]
test

   id  leftedge  topedge  width  height  sumwidth  sumheight
0   1       906      735     28      17       934        752
1   2       890      926     12      29       902        955
2   3       806      573     20      19       826        592
3   4        73      196     16      24        89        220
4   5       466      847     26      27       492        874
5   6       157      631     22      23       179        654
6   7       140      175     18      11       158        186
7   8       847      845     13      16       860        861
8   9       337      935     25      24       362        959
9  10       857      475     11      28       868        503

In [76]:
A = np.zeros((1000, 1000))

for index, n in df.iterrows():
    x = df.leftedge[index]
    y = df.topedge[index]
    x1 = df.sumwidth[index]
    y1 = df.sumheight[index]
    
    A[x:x1][y:y1] = 1
    for

In [77]:
A

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])